
.masVendidos{
    display: flex;
    align-items: center;
    background-color: #ffff00;
    padding-block: 50px;
    width: 100%;
    margin-right: 0px;

}

.titulo__bestSellers{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    h1{
        text-align: center;
    }
    
}

