.sobreNav{
    height: 40px;
    background-color: map-get($colores, titulo);

}

.navbar{
    height: 200px;
    background-color: map-get($colores, nav);
    border-bottom: 0.5px solid map-get($colores, titulo );
}
.navbar-nav{
    width: 80%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    gap: 30px;
}

.postNav{
    height: 30px;
    background-color: map-get($colores, postNav );
    display: flex;
    justify-content: end;
    color: white;
    font-weight: 500;
    padding-right: 20px;
    align-items: center;
}
