.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.w-100 {
    width: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: 600;
    line-height: auto;
    color: none;
}
body{
    font-family: 'Anton', sans-serif;

}

body::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
      }
body::-webkit-scrollbar-thumb {
        background-color: map-get($colores, titulo );
        border-radius: 1px;
        border: 0.25em rgba(128, 128, 128, 0.801);
      }
body::-webkit-scrollbar-corner {
        display: none;
      }




