.productos__subtitulo{
    display: flex;
    align-items: center;
    height: 200px;
    padding-left: 20px;

}

.subtitulo{
    color: map-get($colores, titulo);
    font-weight: 500;

}

.p-3{
    height: 150px;

}


