.productos__subtitulo{
    display: flex;
    align-items: center;
    height: 200px;
    padding-left: 20px;

}

.subtitulo{
    color: map-get($colores, titulo);
    font-weight: 500;
    position: relative;
    line-height: 2;
    font-family: 'Anton', sans-serif;

}

.subtitulo::before{
    background-color: map-get($colores, nav );
    content: "";
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 150px;
    height: 2px;

}

.productosM{
    padding-block: 3%;
}

.p-3{

    height: 400px;

}


