.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.w-100 {
  width: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-weight: 600;
  line-height: auto;
  color: none;
}

body {
  font-family: "Anton", sans-serif;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #293849;
  border-radius: 1px;
  border: 0.25em rgba(128, 128, 128, 0.801);
}

body::-webkit-scrollbar-corner {
  display: none;
}

.logo {
  width: 200px;
  border-radius: 5%;
  margin-left: 30px;
}

.logoF {
  width: 300px;
  border-radius: 5%;
}

.carouselI {
  min-width: 280px;
  width: 280px;
  height: 280px;
  transform: translateX(20px);
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  display: flex;
  width: 300px;
}

.sobreNav {
  height: 40px;
  background-color: #293849;
}

.navbar {
  height: 200px;
  background-color: #0f8db3;
  border-bottom: 0.5px solid #293849;
}

.navbar-nav {
  width: 80%;
  display: flex;
  justify-content: end;
  padding-right: 50px;
  gap: 30px;
}

.postNav {
  height: 30px;
  background-color: #0c6d8a;
  display: flex;
  justify-content: end;
  color: white;
  font-weight: 500;
  padding-right: 20px;
  align-items: center;
}

.fixed {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: #0f8db3;
  z-index: 100;
}

.masVendidos {
  display: flex;
  align-items: center;
  background-color: #ffff00;
  padding-block: 50px;
  width: 100%;
  margin-right: 0px;
}

.titulo__bestSellers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.titulo__bestSellers h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
}

.itemC {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.itemC p {
  color: black;
}

.productos__subtitulo {
  display: flex;
  align-items: center;
  height: 200px;
  padding-left: 20px;
  background-image: url(../recursos/lija.jpg);
}

.subtitulo {
  color: #293849;
  font-weight: 500;
  position: relative;
  line-height: 2;
  font-family: "Anton", sans-serif;
}

.subtitulo::before {
  background-color: #0f8db3;
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 150px;
  height: 2px;
}

.productosM {
  padding-block: 3%;
}

.p-3 {
  height: 400px;
}

.paginas {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  padding-bottom: 50px;
  background-color: rgba(127, 213, 239, 0.062745098);
}

.footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding-block: 30px;
}

.redes1 {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: rgba(224, 218, 218, 0.3882352941);
  padding: 3px;
  border-radius: 50%;
  text-align: center;
}

.footer__secciones {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 50px;
  margin-right: 0px;
}
.footer__secciones .atajos {
  background-color: rgba(255, 255, 255, 0.104);
  height: 280px;
  border-radius: 5px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-top: 20px;
}
.footer__secciones .atajos h3 {
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  font-family: "Anton", sans-serif;
}
.footer__secciones .atajos h3::before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 30px;
  height: 2px;
}
.footer__secciones .atajos ul {
  padding-left: 10px;
}
.footer__secciones .atajos ul li {
  list-style: none;
  color: rgba(255, 255, 255, 0.801);
  padding: 10px;
}

p {
  color: rgba(255, 255, 255, 0.801);
  padding: 10px;
}

.mapaG {
  height: 200px;
  width: 100%;
}

.back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 50%;
  background-color: #0f8db3;
}

.btnI {
  width: 35px;
  height: 35px;
  background-color: #0f8db3;
  z-index: 1001;
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 50%;
  transition: 0.3s;
}

.btnI:hover {
  background-color: #293849;
  border-color: #0f8db3;
  border: 8px solid;
}

.medio {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 2;
  grid-template-areas: "medio medio medio aside" "medio medio medio aside";
  padding-block: 50px;
  padding-inline: 3%;
  gap: 20px;
  background-color: rgba(127, 213, 239, 0.062745098);
}

.medio__productos {
  grid-area: medio;
}

.medio__aside {
  grid-area: aside;
}
.medio__aside div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border-radius: 5%;
}
.medio__aside div h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  text-align: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
  color: #293849;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Anton", sans-serif;
  letter-spacing: 1.5px;
}
.medio__aside div .aside__foto {
  width: 200px;
  padding-top: 50px;
}
.medio__aside div h5 {
  color: white;
}

.modalB {
  width: 100%;
}
.modalB .btn {
  width: 100%;
}

.list-group {
  width: 100%;
}

.item__aside {
  display: flex;
  flex-direction: row;
}

.medio__propaganda {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 120px;
  margin-top: 30px;
}
.medio__propaganda .medio__borde {
  width: 90%;
  padding-block: 100px;
  padding-inline: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 1000px 300px #293849, 0px 0px 30px 150px #293849;
}
.medio__propaganda .medio__borde .medio__negro {
  width: 80%;
  height: 500px;
  background-color: transparent;
  padding-inline: 80px;
  padding-block: 80px;
  display: flex;
}

.negro__producto {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.negro__formulario {
  width: 60%;
  color: white;
}

.categorias {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-block: 50px;
  background-image: url(../recursos/triangulos.jpg);
}
.categorias h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  text-align: center;
  position: relative;
  line-height: 2;
  color: #293849;
  font-family: "Anton", sans-serif;
}
.categorias h2::before {
  background-color: #0f8db3;
  content: "";
  position: absolute;
  bottom: 0;
  right: 25%;
  display: inline-block;
  width: 150px;
  height: 2px;
}
.categorias .categoriasLista {
  align-self: center;
  width: 70%;
}
.categorias .categoriasLista div {
  height: 150px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */